.App {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
    -webkit-animation: App-logo-spin infinite 30s linear;
}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
  flex-direction: column;
}